* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --primary-color: #926239;
    --secondary-color: white;

    color: var(--primary-color);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6em;
}

#banner {
    height: 100vh;
    background-image: url('https://traversymedia.com/downloads/assets/beachshowcase.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    text-align: center;
    border: 1px solid transparent;
    padding-top: 30vh;

}

#banner h1 {
    text-transform: capitalize;
    font-size: 50px;
    line-height: 1.2em;

}

#banner p {
    font-size: 20px;
}

#banner a {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 10px 20px;
    margin: 10px;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
}

#banner a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
}


footer div {
    display: inline-block;
    width: 33.33%;
}
